.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.smooth-img.ready {
  opacity: 100%;
}

.smooth-img.preview.init {
  opacity: 0;
}

.smooth-img.preview.loading {
  opacity: 100%;
  filter: blur(2px);
  transition: opacity 1s;
}

.smooth-img.full.loading {
  opacity: 80%;
}

.smooth-img.full {
  transition: opacity 0.5s;
}

.smooth-img.ready {
  transition: all 0.5s;
}

.collage-container {
  margin: auto;
  justify-content: center;
  width: 95%;
  height: 95vh;
}

.collage-bg-active {
  transition: filter 0.5s ease;
}

.collage-bg-inactive {
  filter: grayscale(0.6) brightness(0.6);
  transition: all 0.5s ease;
}

.collage-overlay-container {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.collage-overlay-img {
  transition: visibility 0s linear 2300ms, opacity 2300ms;
  position: absolute;
  transform-origin: top left;
  filter: drop-shadow(2px 2px 0 black)
          drop-shadow(-2px 2px 0 black)
          drop-shadow(2px -2px 0 black)
          drop-shadow(-2px -2px 0 black);
}

.collage-overlay-img.smooth-img.loading {
  filter: none;
}

