.collage-container {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.collage-bg {
    transition: filter 0.5s;
}

.overlay-shown .collage-bg {
    filter: grayscale(0.6) brightness(0.6);
}

.overlay-shown.overlay-no-hover .collage-bg {
    filter: grayscale(0.4) brightness(0.7);
}

.overlay-shown.overlay-hover-on-transparent .collage-bg {
    filter: grayscale(0.3) brightness(0.8);
}