.lang-selector {
    display: flex;
    flex-direction: inherit;
    position: relative;
}

.lang-selector-option {
    display: block;
    cursor: default;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 23px;
    color: #dcd0cc;
    text-align: center;
    user-select: none;
    z-index: 10;
}

.lang-selector-highlight {
    width: 40px;
    height: 40px;
    background-color: #312e2c;
    position: absolute;
    border-radius: 5px;
    z-index: 5;
    transition-property: transform;
    transition-duration: 0.2s;
}

.lang-selector-highlight.highlight-index-1 {
    transform: translateY(100%)
}

.lang-selector-highlight.highlight-index-2 {
    transform: translateY(200%)
}

.horizontal-control-panel .lang-selector-highlight.highlight-index-1 {
    transform: translateX(100%)
}

.horizontal-control-panel .lang-selector-highlight.highlight-index-2 {
    transform: translateX(200%)
}

.lang-selector-option:hover {
    color: #ffffff;
}

.lang-selector-option.lang-current {
    color: #e7dfdd;
}