
.collage-overlay-container {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.collage-overlay-img {
    transition: visibility 0s linear 2300ms, opacity 2300ms;
    position: absolute;
    transform-origin: top left;
    filter: drop-shadow(2px 2px 0 black)
    drop-shadow(-2px 2px 0 black)
    drop-shadow(2px -2px 0 black)
    drop-shadow(-2px -2px 0 black);
}

.collage-overlay-img.smooth-img.loading {
    filter: none;
}

.collage-overlay-img.smooth-img.full.loading {
    pointer-events: none;
}