
.collage-overlay-container {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: filter 0.5s;
}

.overlay-shown.overlay-hover-on-transparent .collage-overlay-container {
   filter: grayscale(0.2) brightness(0.8);
}

.overlay-shown.overlay-hover-on-filled .collage-overlay-container {
    cursor: pointer;
}

.collage-overlay-container img {
    position: absolute;
    transform-origin: top left;
    filter: drop-shadow(2px 2px 0 black)
    drop-shadow(-2px 2px 0 black)
    drop-shadow(2px -2px 0 black)
    drop-shadow(-2px -2px 0 black);
}

.collage-overlay-container img.smooth-img.loading {
    filter: none;
}

.collage-overlay-container img.smooth-img.full.loading {
    pointer-events: none;
}

.collage-overlay-container img.smooth-img.full.loading {
    opacity: 0;
}