.quality-selector {
    position: relative;
}

.quality-selector > * {
    user-select: none;
}

.quality-selector-button {
    display: block;
    cursor: default;
    width: 50px;
    height: 50px;
}

.quality-selector-button .quality-gear-icon {
    width: 50px;
    height: 50px;
}

.quality-selector-button .quality-gear-icon path {
    fill: #dcd0cc;
}

.quality-selector-button:hover .quality-gear-icon path {
    fill: #ffffff;
}

.quality-selector-button .quality-letter {
    position: absolute;
    top: 27px;
    left: 27px;
    background-color: #e2c162;
    border: solid 2px black;
    border-radius: 4px;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    font-weight: 700;
    color: #000000;
}

.quality-selector-button:hover .quality-letter {
    background-color: #ffdb70;
}

.quality-selector-button:focus {
    outline: none;
}

.quality-selector-menu {
    background-color: rgb(236, 222, 205);
    z-index: 200;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 58px;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(8px 8px 8px black);
    cursor: default;
    overflow: hidden;
}

.quality-selector-option {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
}

.quality-selector-option:focus {
    outline: none;
}

.quality-selector-option:hover {
    background-color: rgb(222, 197, 172);
}

.quality-selector-option .option-mark {
    min-width: 25px;;
    text-align: center;
    margin-left: 15px;
    font-weight: bold;
}

.quality-selector-option .quality-resolution {
    color: #656060;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 20px;
    height: 25px;
    background-color: #f1e5d8;
    line-height: 25px;
    padding: 0 5px;
    border-radius: 6px;
    border: 1px solid #b1aba8;
    min-width: fit-content;
}

.quality-selector-option .quality-name {
    flex: auto;
    color: #544341;
    margin-left: 15px;
}

.quality-selector-option:hover .quality-name {
    color: #312e2c;
}

@media (max-aspect-ratio: 1560/1060) {
    .quality-selector-menu {
        top: 58px;
        left: 0;
    }
}