.teapot-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
}

.teapot-spinner img.smooth-img.preview {
    z-index: 50;
    opacity: 1;
}

.teapot-spinner.active img.smooth-img.preview {
    opacity: 0;
}

.overlay-shown .teapot-spinner.disabled img.smooth-img.preview {
    filter: grayscale(0.6) brightness(0.6);
}

.overlay-shown.overlay-no-hover .teapot-spinner.disabled img.smooth-img.preview {
    filter: grayscale(0.4) brightness(0.7);
}

.overlay-shown.overlay-hover-on-transparent .teapot-spinner.disabled img.smooth-img.preview {
    filter: grayscale(0.3) brightness(0.8);
}

.teapot-spinner img.smooth-img.full {
    z-index: 150;
}

.teapot-spinner.disabled img.smooth-img.full {
    opacity: 0;
}

.teapot-spinner.active img.smooth-img.full {
    opacity: 1;
}

.teapot-spinner img.smooth-img {
    transform-origin: center;
    transition: opacity 1s, filter 0.3s;
}

.teapot-spinner.active img.smooth-img.full {
    animation: zoom 1.4s infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
